<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="{{.Site.BaseUrl}}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{.Site.BaseUrl}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{.Site.BaseUrl}}/css/mysore.css">
    <link rel="stylesheet" href="{{.Site.BaseUrl}}/css/fonts.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="author" content="{{.Site.Params.author}}">
    <link rel="icon" href="img/favicon.ico">
</head>
<body>
