<div class="side-panel center-block">
    <div class="title">
        <a href="{{ .Site.BaseUrl }}" class="link"><h1>{{ .Site.Title }}</h1></a>
    </div>
    <img src="{{ .Site.BaseUrl }}img/me.jpg" alt="selfie" title="selfie" class="center-block img-rounded selfie"/>
    {{ $currentNode := . }}
    {{ range .Site.Menus.side }}
        <div class="about-pane">
            <a href="{{ .Url }}" class="link"><h3>{{ .Name  }}</h3></a>
        </div>
    {{ end }}
    <div class="social-pane">
        {{ with .Site.Params.twitter }}
        <a href="https://twitter.com/{{ . }}" class="link">
            <i class="fa fa-twitter fa-2x social-pane-button"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.facebook }}
        <a href="https://facebook.com/{{ . }}" class="link">
            <i class="fa fa-facebook-official fa-2x social-pane-button"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.github }}
        <a href="https://github.com/{{ . }}" class="link">
            <i class="fa fa-github fa-2x social-pane-button"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.linkedin }}
        <a href="https://linkedin.com/in/{{ . }}" class="link">
            <i class="fa fa-linkedin fa-2x social-pane-button"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.instagram }}
        <a href="https://instagram.com/{{ . }}" class="link">
            <i class="fa fa-instagram fa-2x social-pane-button"></i>
        </a>
        {{ end }}
    </div>
    <div class="center-block">
        <section class="copyright">
        {{ if .Site.Copyright }}
            {{.Site.Copyright | safeHtml}}
        {{ else }}
        <p class="text-center">&copy {{ .Site.LastChange | dateFormat "2006"}} {{ .Site.Params.author }}. <a href="http://creativecommons.org/licenses/by/4.0/">Some rights reserved</a>.</p>
        {{ end }}
        </section>
    </div>
</div>
